



<nav>
    <a (click)="page=1">
        <span>Part 1</span><br>
        <span>Find <code>QueryList</code></span><br>
    </a>
    <a (click)="page=2">
        <span>Part 2</span><br>
        <span>Add Components</span><br>
        <span>No <code>*ngFor</code></span><br>
    </a>
    <a (click)="page=3">
        <span>Part 3</span><br>
        <span>Add Components</span><br>
        <span>With <code>*ngFor</code></span><br>
    </a>
</nav>

<big-log *ngIf="page==1"></big-log>
<big-edit *ngIf="page==2"></big-edit>
<big-edit-ngfor *ngIf="page==3"></big-edit-ngfor>